
body{
  background-color: #F0ECEE;
  font-family: 'Fira Sans', sans-serif;
  margin-top:10px;
}
.sitename{
  font-size: 20px;
  font-weight:600;
}
.button {
  background-color: #FF4850;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  width:100%;
  font-weight:400;
  font-size: 16px;
}
.button:hover{
  background-color: #ccc;
}
a{
  text-decoration: none;
  color: #88898B;
  font-weight:400;
  }
a:hover{
  color: #FF4850;
}
.emph{
  color: #FF4850;
}
.text{
  color: #88898B
}
ul{
  list-style-type: none;
  padding:0px;
}

@media (min-width: 768px) {

	body{
	  background-image: url("bulldog.jpg");
	  background-size: cover;
	  background-repeat: no-repeat;
	  margin: 20px 50px;
	}
	.header{
	  display:flex;
	  justify-content: space-between;
	}
	.sitename{
	  margin:0px;
	  padding:10px;
	}
	.nav{
	  padding-bottom:100px;
	}
	.mainmenu {
	  display:inline;
	  margin:0px;
	}
	.mainmenu li {
	  float: left;
	  padding:10px;
	}
	.info{
      width:43%;
	}
	.button {
	  width:auto;
	}
	}
	  
